<?php


return array(
    
    'upload' => array(
        'customImageDiskPath' => getcwd().'/public/tempupload/',
        'customImageWebPath' => '/tafimg/public/tempupload/',
        
    ),
    
);
